/*********TAG SELECTORS*****************/
/*LEAST SPECIFIC*/
body{
  background-color: #1A374D;
  
}
h1 {
    color: #B1D0E0;
    font-size: 50px;
}
h2 {
    color: #406882;
}
h3 {
    color: #406882;
}
h4 {
    color: #6998AB;
}
h5 {
    color: #6998AB;
}
h6 {
    color: #6998AB;
}
body {
    color: #B1D0E0;
}
button {
    background-color: #B1D0E0;
    border-color: none;
    color: black;
    padding: 10px;
    text-align: center;
    height: 40px;
    width: 150px;
    margin-bottom: 10px;
}

    img {
        background-color: none;
        margin-top: 30px;
    }


/*************CLASS SELECTORS**************/
/*NAMES CAN REPEAT, USE TO GROUP SIMILAR ELEMENTS TOGETHER*/

    .parent-center {
        position: relative;
        margin-top: 10%;
    }
    .child-center {
        position: absolute;
        margin-left: 37%;
    }

/*************ID SELECTOR***************/
/*MOST SPECIFIC - OVERRIDES TAG AND CLASS SELECTORS*/
/*ID NAMES MUST BE UNIQUE, ONLY APPEARS ONCE ON A PAGE*/
/*
    #id {
        color: green;
    }
*/